{% extends 'index.html' %} {% block head %}
<link
  href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="/static/stylesheet/login.css" />
{% endblock %}{% block content %}
<section id="login-section">
  <div class="login-block">
    <h2>Edit Your Profile</h2>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' and field.name != 'password' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control")
      }} {% endfor %}

      <p>To confirm changes, enter your password:</p>
      {% if form.password.errors %} {% for error in form.password.errors %}
      <span class="text-danger"> {{ error }} </span>
      {% endfor %} {% endif %} {{ form.password(placeholder="password",
      class="form-control") }}

      <button>Edit this user!</button>
      <a href="/users/{{ user_id }}">Cancel</a>
    </form>
  </div>
</section>
{% endblock %}
