{% extends 'index.html' %} {% block head %}
<link
  href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="/static/stylesheet/login.css" />
{% endblock %} {% block content %}

<section id="login-section">
  <div class="login-block">
    <h1>Create your own profile!</h1>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control")
      }} {% endfor %}

      <button id="signUpBtn">Sign me up!</button>
    </form>
  </div>
</section>
{% endblock %}
